body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

section {
  display: flex;
  flex-direction: row;
  width: 60%;
  align-items: flex-start;
  margin: auto;
}

section h1 {
  margin-bottom: 15px;
}

section p {
  margin-bottom: 30px;
}

section div {
  padding-right: 80px;
}